@font-face {
    font-family: apexfont;
    src: url('coolveticagras.otf');
}

@font-face {
    font-family: apexfont2;
    src: url('coolveticanormal.otf');
}

body {
    background: rgb(0, 28, 45);
    background: linear-gradient(0deg, rgba(0, 28, 45, 1) 84%, rgba(0, 83, 133, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: aliceblue;
}

.loader-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 28, 45, 1) 84%, rgba(0, 83, 133, 1) 100%);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.loader-content.cache {
    opacity: 0;
    visibility: hidden;

}

.loader {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1, 1) translate(-50%, -50%);
    animation: loader 1.5s ease infinite;
}

@keyframes loader {
    25% {
        transform: translate(-50%, -50%)scale(1.5, 1.5);
    }

    50% {
        transform: translate(-50%, -50%)scale(1, 1)rotate(0deg);

    }

    75% {
        transform: translate(-50%, -50%)scale(1, 1)rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%)rotate(0deg);
    }
}

.loader img {
    width: 100%;
    height: 100%;
}

li a {
    text-decoration: none;
    color: white;
}

li a:after {
    content: "";
    display: block;
}

li a:after {
    width: 0%;
    height: 3px;
    background-color: red;
    -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

li a:hover:after {
    width: 100%;
}

li:hover {
    margin-top: -5px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.droite {
    width: 40%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.presentation {
    width: 400px;
    height: auto;
    margin-left: 20%;
    display: flex;
    justify-content: right;
    background-image: url(../image/back.png);
    background-size: cover;
}

.presentation img {
    width: 700px;
    height: 100vh;
}

.imgintro {
    display: flex;
    justify-content: center;
}

.imgintro img {
    height: 35vh;
    width: 20vw;
}

.social {
    height: 80%;
}

.xelow {
    width: 100%;
    height: 100%;
}

.logo {
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: left;

}

.intro {
    margin-top: 10%;
    font-family: apexfont2;
    font-size: 3vh;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.textintro {
    display: flex;
    justify-content: center;
}

.reseau {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reseau a {
    height: auto;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu {
    width: 30%;
    font-family: apexfont;
    font-size: 30px;
    text-align: right;
    position: relative;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.enlive {
    width: 10%;
    font-family: apexfont;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.boutonlive {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: red;
}

.twitch-embed {
    margin: 0 auto;
}

.reseau a {
    text-decoration: none;
    outline: none;
    color: aliceblue;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration-color: red;
}

.reseau a:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

li {
    font-family: apexfont;
    letter-spacing: 1px;
    font-size: 3.5vh;
    margin-right: 30%;
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
    padding: 2%;
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-transition: .2s ease-in-out;
    transition: .3s ease-in-out;

}


ul {
    margin-left: 25%;
}

footer {
    background: rgb(1, 23, 37);
    height: 5vh;
    font-size: 2.5vh;
    letter-spacing: 1px;
    margin-right: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: apexfont;
}


.lecteur {
    display: flex;
    justify-content: center;
}

label {
    display: none;
}

label, #toggle {
    display: none;
}

#twitch {
    height: 55vh;
    width: 45vw;
}

#chat_embed {
    height: 55vh;
    width: 13vw;
}

@media screen and (max-width:600px) {
    .intro img {
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    li:hover {
        margin-top: 0px;
    }

    .presentation {
        display: none;
    }

    .main {
        justify-content: center;
    }

    .enlive {
        display: none;
    }

    .lecteur {
        display: none;
    }

    .droite {
        width: 100%;
    }

    .textintro {
        margin-bottom: 7%;
        font-size: 3.5vh;
    }

    .imgintro {
        height: 70%;
    }

    .intro img {
        width: 70%;
        height: 90%;
    }

    .reseau {
        margin-bottom: 3%;
    }

    .social {
        height: 100%;
        width: 100%;
    }

    .reseau img {
        height: 50px;
        width: 50px;
    }

    .droite {
        margin-right: 0%;
    }

    a:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    nav {
        height: 60px;
        margin-bottom: 10%;
    }
    nav .menu {
        visibility: hidden;
        position: absolute;
        right: 15%;
        top: -3%;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 20%;
        font-size: 30px;
        background-color: rgba(0, 83, 133, 0.25);
    }
    nav .menu a {
        width: auto;
        height: 220px;
    }
    .menu.active {
        visibility: visible;
        margin: 0;
        margin-top: 7%;
        text-align: center;
    }
    body {
        position: relative;
        height: 94vh;
    }

    footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
    }

    .burger {
        width: 36px;
        height: 24px;
        cursor: pointer;
        position: relative;
        left: 40%;
        top: 20%;
        display: block;
    }

    .burger span {
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        top: 50%;
        transform: rotateY(-50%);
        transition: background-color 0.1s ease-in-out;
    }

    .burger span::before, .burger span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: transform 0.5s ease-in-out;
    }

    .burger span::before {
        transform: translateY(-10px);
    }

    .burger span::after {
        transform: translateY(10px);
    }

    .burger.active span {
        background-color: transparent;
    }

    .burger.active span::before {
        transform: translateY(0px) rotateZ(45deg);
    }

    .burger.active span::after {
        transform: translateY(0px) rotateZ(-45deg);
    }
}

@media screen and (min-width:1921px) {
    .presentation {
        width: auto;
        margin-left: 5%;
    }

    .presentation img {
        width: max-content;
    }

    .droite {
        width: 50%;
    }

    main {
        justify-content: space-around;
    }

    nav {
        justify-content: right;

    }

    ul {
        margin-right: 12%;
    }

    .reseau {
        margin-top: 10%;
    }
}