@font-face { font-family: apexfont; src: url('coolveticagras.otf'); } 
@font-face { font-family: apexfont2; src: url('coolveticanormal.otf'); } 


body {
    background: #001c2d;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: aliceblue;
}

nav{
    background: rgb(0,28,45);
    background: linear-gradient(0deg, rgba(0,28,45,1) 48%, rgba(38,87,117,1) 100%);
    background-repeat: no-repeat;
    height: 9vh;
    padding-left: 20%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}

.logo {
    width: 90px;
}
.menu{
    width: 20vw;
    font-family: apexfont;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

.tiktok {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tiktok img {
    margin-right: 10%;
}

.config {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}

.composant {
    position: relative;
    height: 95%;
    min-height: 20vh;
    width: 17vw;
    padding: 3%;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #02314e;
    color: aliceblue;
    font-family: apexfont2;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    box-shadow: 10px 5px 5px black;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 100;
    overflow: hidden;
}

.composant:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.rtx {
    top: 65%;
    right: 25%;
    opacity: 0.5;
    position: absolute;
    width: 10vw;
}

.gpro {
    top: 65%;
    right: 25%;
    opacity: 0.5;
    position: absolute;
    width: 10vw;
}

.periph {
    position: relative;
    height: 95%;
    min-height: 20vh;
    width: 17vw;
    padding: 3%;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #02314e;
    color: aliceblue;
    font-family: apexfont2;
    font-size: 2.5vh;
    letter-spacing: 1.5px;
    box-shadow: 10px 5px 5px black;
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 100;
    overflow: hidden;
}

.periph:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
h2{
    font-family: apexfont2;
}
a {
    text-decoration: none;
    outline: none;
    color: aliceblue;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-decoration-color: red;
}

a:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
#logoindex:hover{
    -webkit-transform: scale(1);
	transform: scale(1);
}
li {
    font-family: apexfont;
    letter-spacing: 1px;
    font-size: 3.5vh;
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
    padding: 2%;
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-transition: .2s ease-in-out;
    transition: .3s ease-in-out;
}
li a{
    text-decoration: none;
    color: white;
}
li a:after{
    content:""; display:block;
}
li a:after {
    width: 0%;
    height: 3px;
    background-color: red;
    -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

li a:hover:after {
    width: 100%;
}
li:hover {
    margin-top: -5px;
}

footer {
    background: rgb(1, 23, 37);
    height: 5%;
    font-size: 2.5vh;
    letter-spacing: 1px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-family: apexfont;
}

label {
    display: none;
}

label,
#toggle {
    display: none;
}
@media (max-width:400px) {
    body {
        margin-right: 0%;
    }
    .intro {
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    nav {
        height: 10vh;
        border-bottom: 0;
        padding-left: 5%;
    }
    li:hover {
        margin-top: 0px;
    }
    .logo {
        margin-left: -15%;
    }
    nav .menu {
        visibility: hidden;
        position: absolute;
        right: 15%;
        top: 0%;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 30%;
        font-size: 30px;
        background-color: rgba(0, 83, 133, 0.25);
        z-index: 2000;
        margin: 0%;
        padding: 0%;
    }
    nav .menu a {
        width: auto;
        height: 220px;
    }
    .menu.active {
        visibility: visible; 
        width: 32%;
    }
    body {
        position: relative;
        height: 94vh;
    }

    footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
    }

    .burger {
        width: 36px;
        height: 24px;
        cursor: pointer;
        position: relative;
        left: 15%;
        top: 0%;
        display: block;
    }

    .burger span {
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        top: 50%;
        transform: rotateY(-50%);
        transition: background-color 0.1s ease-in-out;
    }

    .burger span::before, .burger span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: transform 0.5s ease-in-out;
    }

    .burger span::before {
        transform: translateY(-10px);
    }

    .burger span::after {
        transform: translateY(10px);
    }

    .burger.active span {
        background-color: transparent;
    }

    .burger.active span::before {
        transform: translateY(0px) rotateZ(45deg);
    }

    .burger.active span::after {
        transform: translateY(0px) rotateZ(-45deg);
    }
    .tiktok {
        display: none;
    }
    .composant {
        height: 35%;
        width: 90%;
        padding: 3%;
    }
    .periph {
        height: 35%;
        width: 90%;
        padding: 3%;
    }
    .config {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .rtx {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 200px;
        opacity: 0.3;
    }
    .gpro {
        position: absolute;
        top: 12%;
        right: -10%;
        width: 200px;
        opacity: 0.3;
    }
    p {
        font-size: small;
    }
}

@media screen and (max-width:1311px) and (min-width:900px) {
    .config {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .composant {
        height: 30%;
        padding: 3%;
    }
    .periph {
        height: 30%;
        padding: 3%;
    }
    p {
        font-size: small;
    }
    .rtx {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 200px;
        opacity: 0.3;
    }
    .gpro {
        position: absolute;
        top: 12%;
        right: 0%;
        width: 200px;
        opacity: 0.3;
    }
}
@media screen and (min-width:1311px){
    .composant, .periph{
    min-height: 300px;
    }
    footer{
        z-index: 2000;
    }
}
@media screen and (min-width:1921px){
    .composant, .periph{
        height: 100%;
        width: 35%;
        font-size: 2.5vh;
    }
    .config{
        width: 80%;
    }
    .rtx, .gpro{
        width: 280px;
        float: bottom;
    }
}