@font-face { font-family: apexfont; src: url('coolveticagras.otf'); } 
@font-face { font-family: apexfont2; src: url('coolveticanormal.otf'); }
body{
    background:#001c2d;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: aliceblue;
}

nav{
    background: rgb(0,28,45);
    background: linear-gradient(0deg, rgba(0,28,45,1) 48%, rgba(38,87,117,1) 100%);
    background-repeat: no-repeat;
    height: 9vh;
    padding-left: 20%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}
   
.logo{
    width: 90px;
}
.menu{
    width: 20vw;
    font-family: apexfont;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clipapex, .clipvalo{
    margin-top: 3%;
    height: 110vh;
    width: 100%;
    border-bottom: 8px ridge white;
}
.clipvalo{
    border-bottom: 0px;
}
.clipapexhaut, .clipapexbas, .clipvalohaut,.clipvalobas{
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.clipapexhaut img,.clipapexbas img,.clipvalo img,.clipvalobas img{
    height: 90%;
}
.logoapex, .logovalo{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logoapex img{
    width: 20%;
}

a{
    text-decoration: none;
    outline: none;
    color: aliceblue;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
    text-decoration-color: red;
}
a:hover {
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}
#logoindex:hover{
    -webkit-transform: scale(1);
	transform: scale(1);
}
li {
    font-family: apexfont;
    letter-spacing: 1px;
    font-size: 3.5vh;
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
    padding:2%;
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-transition: .2s ease-in-out;
	transition: .3s ease-in-out;

}
li a{
    text-decoration: none;
    color: white;
}
li a:after{
    content:""; display:block;
}
li a:after {
    width: 0%;
    height: 3px;
    background-color: red;
    -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

li a:hover:after {
    width: 100%;
}
li:hover{
    margin-top: -5px;
}
#myVideo {
    width: 100%;
    height: 76vh;
    padding: 3% 0;
  }
.video{
    background-color: black;
}
footer{
    background: rgb(1, 23, 37);
    height: 5vh;
    letter-spacing: 1px;
    margin-right: 0px !important; 
    font-family: apexfont;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
label
{
    display: none;
}
 
label, #toggle
{
    display: none;
}
.mobile{
    display: none;
}
iframe{
    width: 30vw;
    height: 40vh;
}
@media screen and (max-width:900px){
    nav{
        height: 10vh;
        margin-bottom: 30%;
        border-bottom: 0;
        padding-left: 5%;
    }
    #logoindex{
        margin-top: 5%;
    }
    li:hover{
        margin-top: 0px;
    }
    nav .menu {
        visibility: hidden;
        position: absolute;
        right: 15%;
        top: -3%;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 30%;
        font-size: 30px;
        background-color: rgba(0, 83, 133, 0.25);
    }
    nav .menu a {
        width: auto;
        height: 220px;
    }
    .menu.active {
        visibility: visible;
        padding: 0%;
        width: 32%;
        z-index: 2000;
    }
    body {
        position: relative;
        height: 94vh;
    }

    footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
    }

    .burger {
        width: 36px;
        height: 24px;
        cursor: pointer;
        position: relative;
        left: 15%;
        top: 0%;
        display: block;
    }

    .burger span {
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        top: 50%;
        transform: rotateY(-50%);
        transition: background-color 0.1s ease-in-out;
    }

    .burger span::before, .burger span::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: transform 0.5s ease-in-out;
    }

    .burger span::before {
        transform: translateY(-10px);
    }

    .burger span::after {
        transform: translateY(10px);
    }

    .burger.active span {
        background-color: transparent;
    }

    .burger.active span::before {
        transform: translateY(0px) rotateZ(45deg);
    }

    .burger.active span::after {
        transform: translateY(0px) rotateZ(-45deg);
    }
    .pc{
        display: none;
    }
    #myVideo {
        height: 50%;
    }
    .mobile{
        display: flex;
        height: 20%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .mobile p{
        font-family: apexfont;
        font-size: x-large;
        margin-bottom: 10%;
    }
    .mobile img{
        height: 100%;
    }
    .mobile a{
        height: 80%;
    }
    body{
        position: relative;
        height: 94vh;
    }
    footer{
        position: fixed;
        bottom: 0%;
        width: 100%;
    }
}
  

 
  