@font-face { font-family: apexfont; src: url('apexfont.ttf'); } 
@font-face { font-family: apexfont2; src: url('apexfont2.ttf'); } 

body{
    background:#001c2d;
    background-size: 100%;
    background-attachment: fixed;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: aliceblue;
}

nav{
    background: rgb(0,28,45);
    background: linear-gradient(0deg, rgba(0,28,45,1) 48%, rgba(38,87,117,1) 100%);
    height: 15vh;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
}
.logo{
    width: 13%;
}
.menu{
    margin-top: 3%;
    width: 30%;
    font-family: apexfont;
    font-size: 30px;
    text-align: right;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.clipapex, .clipvalo{
    margin-top: 3%;
    height: 110vh;
    width: 100%;
    border-bottom: 8px ridge white;
}
.clipvalo{
    border-bottom: 0px;
}
.clipapexhaut, .clipapexbas, .clipvalohaut,.clipvalobas{
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.clipapexhaut img,.clipapexbas img,.clipvalo img,.clipvalobas img{
    height: 90%;
}
.logoapex, .logovalo{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logoapex img{
    width: 20%;
}

a{
    text-decoration: none;
    outline: none;
    color: aliceblue;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
    text-decoration-color: red;
}
a:hover {
    

    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}
li {
    font-family: apexfont;
    font-size: 85%;
    padding-left: 2%;
    padding-right: 2%;
    outline: none;
    padding:2%;
    margin-bottom: 10px;
    list-style-type: none;
    -webkit-transition: .2s ease-in-out;
	transition: .3s ease-in-out;

}
li:hover{
    margin-top: -5px;
    text-decoration: underline;

    
}
#myVideo {
    width: 100%;
    height: 76vh;

  }
.video{
    background-color: black;
}
footer{
    background: rgb(1, 23, 37);
    height: 5vh;
    margin-right: 0px !important; 
    font-family: apexfont;
    display: flex;
    justify-content: center;
    align-items: center;
}
label
{
    display: none;
}
 
label, #toggle
{
    display: none;
}
.mobile{
    display: none;
}
@media screen and (max-width:900px){
    nav{
        height: 10vh;
        margin-bottom: 20%;
    }
    li:hover{
        margin-top: 0px;
    }
    .logo{
        width: 30%;
        margin-left: -15%;
    }
    nav .menu
    {
        display: none;
        position: absolute;
        right:45px;
        top:-3%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 30%;
        font-size: 30px;
        background-color: rgba(0,83,133,0.25);
        padding-left: 0%;
        margin-bottom: 0%;
    }
    nav .menu a {
        width: auto;
        height: 200px;
    }
        
    label 
    {
        position: absolute;
        right: 2% ;
        top: 2%;
        width: 10%;
        display: flex;
        justify-content: right;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }  
    #toggle:checked + .menu {
        display: flex;   
    }
    .pc{
        display: none;
    }
    #myVideo {
        height: 50%;
    }
    .mobile{
        display: flex;
        height: 20%;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .mobile p{
        font-family: apexfont;
        font-size: x-large;
    }
    .mobile img{
        height: 100%;
    }
    .mobile a{
        height: 80%;
    }
    body{
        height:90vh;
    }
    footer{
        position: absolute;
        width: 100%;
        bottom: 0%;
    }
    

}
  

 
  